$background-color:#FAFDF8;

.backGround-b{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    font-family: 'PingFang SC';
    font-style: normal;
}
.progress{
    position: relative;
    margin-left: 48px;
    margin-top: 35px;
}
.progress-text{
    line-height: 68px;
    color: #333333;
    font-size: 35px;
}
.manager-button{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.button-one{
    width: 310px;
    height: 100px;
    margin-left: 50px;
    background: linear-gradient(179.76deg, #7AD7F9 -31.09%, rgba(145, 244, 143, 0.5) 177.83%, #6CE8D0 177.83%);
    border-radius: 16px;
}
.button-two{
    width: 310px;
    height: 100px;
    margin-right: 50px;
    background: linear-gradient(180deg, rgba(61, 221, 154, 0.7) 0%, rgba(97, 243, 121, 0.56) 112.7%, rgba(99, 101, 99, 0.672) 112.7%);
    border-radius: 16px;
}
.things{
    margin-top: 10px;
    margin-left: 48px;
    width: 88%;
}
.things-item{
    position: relative;
    margin-top: 35px;
    background-color: #ffffff;
    height: 130px;
}
.things-icon{
    position: absolute;
    width: 115px;
    height: 115px;
    margin-left: 15px;
}
.things-texts{
    display: flex;
    flex-direction: column;
    margin-left: 143px;
}
.things-title{
    margin-top: 15px;
    color: #333333;
    font-size: 30px;
}
.things-count{
    margin-top:15px;
    margin-left: 60%;
    display: flex;
    flex-direction: row;
    color:  #BED3BE;
    text-align: center;
    font-size: 30px;
}
.counts{
    width: 80px !important;
    background-color: #F0F5F0;
    border-radius: 5px;
    color: black;
    font-size: 40px;
}
.count-input{
    line-height: 10px;
    vertical-align:middle
}
.search-bar{
    margin-top: 30px;
    width: 88%;
    margin-left: 48px;
    background-color:$background-color ;
}
.button-scan{
    position: absolute;
    margin-left: 88%;
    margin-top: -45px;
    padding-left: 5px;
    width: 50px;
    height: 50px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAAXNSR0IArs4c6QAAAgZJREFUSEvdVjFoVEEQnfnFgYVoklIQU6RMYZNYmt5GRFErA9pY3J8FuSs9yxO8m1/YnIK/ExRMp6UpxVKtNSRNmkiE4/A+xz2Z4++xfv6PmFxSZIr/d2d239vZ2Z0dpkCazea5LMsuAljw6tFotNvv97fSNP0djrW2c+7MeDxeYuZ5b2PmvVqttt1ut39Ndb4hIo+JqFUEyvsPVPVl0Vav129HUfS6Yk5LVZ+Yje0Tx/FNZn5TMdjUpSQicp+IXlTNA3ArSZK37JybB7AXDNwiojTo/ySir6q6WQQTkatEtExE0+0iontEdCnYvgWO43iVmT8FAIuqakSHEhExgh9+MoArnK/mY67cVNW1Q6EHk0TE8MxLk7VTRGL+iAhy11RV3Qy2q2uwhqOqPDnCjUbjbJZl11S16sz/N6+I3CGiD6q6PyE5brHAH3TTZ8HfMhIfj1kAlmKcjCfHtvwAeBJ4OwnMPAfg/VFSise11ALgRhRF37vd7oZtV5hrUlVdP6p3IvIqT5QGtXiK0sqJZGHn3DKALz4OlmtmEJPw7l1mKx6Gw+F+AXj6CjLzN2Z+2ul0dorkzrkLAOpEtBLY/DviVXP+CB+YWgA8SpLkWQnJQwDPqzyfvvF+wD+KibtlGdo5dx3AuwqSv6uV4BKdz4sA+09kMBh87vV6g6rVWu0FYNXby+quP+SF9aB0qOeoAAAAAElFTkSuQmCC");
    border: #F8F9FD;
}