$background-color:#FAFDF8;

.backGround-b{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    font-family: 'PingFang SC';
    font-style: normal;
}
.progress{
    position: relative;
    margin-left: 48px;
    margin-top: 35px;
}
.progress-text{
    line-height: 68px;
    color: #333333;
    font-size: 35px;
}
.search{
    position: relative;
    margin-left: 48px;
    margin-top: 25px;
}
.search-input{
    background-color: #F0F1F5;
    width: 83%;
    border-radius: 10px;
    height: 65px;
}
.search-icon{
    position: absolute;
    margin-top: 18px;
    margin-left: 30px;
    width: 30px;
    height: 30px;
}
.search-input-placeholder{
    margin-left: 68px;
    color: #BED3BE;
}
.manager-button{
    display: flex;
    flex-direction: row;
}
.button-one{
    width: 310px;
    height: 120px;
    margin-left: 50px;
    background: linear-gradient(179.76deg, #7AD7F9 -31.09%, rgba(145, 244, 143, 0.5) 177.83%, #6CE8D0 177.83%);
    border-radius: 16px;
}
.button-two{
    width: 310px;
    height: 120px;
    margin-right: 50px;
    background: linear-gradient(180deg, rgba(61, 221, 154, 0.7) 0%, rgba(97, 243, 121, 0.56) 112.7%, rgba(99, 101, 99, 0.672) 112.7%);
    border-radius: 16px;
}
.things{
    margin-top: 10px;
    margin-left: 48px;
    width: 88%;
}
.things-item{
    position: relative;
    margin-top: 35px;
    background-color: #ffffff;
    height: 130px;
}
.things-icon{
    position: absolute;
    width: 115px;
    height: 115px;
    margin-left: 15px;
}
.things-texts{
    display: flex;
    flex-direction: column;
    margin-left: 143px;
}
.things-title{
    margin-top: 15px;
    color: #333333;
    font-size: 30px;
}
.things-count{
    margin-top:15px;
    margin-left: 60%;
    display: flex;
    flex-direction: row;
    color:  #BED3BE;
    text-align: center;
    font-size: 30px;
}
.counts{
    width: 80px !important;
    background-color: #F0F5F0;
    border-radius: 5px;
    color: black;
    font-size: 40px;
}
.count-input{
    line-height: 10px;
    vertical-align:middle
}