$background-color:#F8F9FD;

.backGround-f{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    font-family: 'PingFang SC';
    font-style: normal;
}
.thingList-text{
    position: relative;
    top: 50px;
    margin-bottom: 86px;
}
.thingList-font{
    margin-left: 48px;
    font-size: 36px;
}
.operation{
    position:relative;
    margin-left: 6%;
    height: 150px;
    background-color: white;
    border-radius: 6px;
    width: 88%;
    margin-bottom: 3%;
}
.icon{
    margin-top: 49px;
    margin-left: 36px;
    width: 45px;
    height: 45px;
}
.icon-font{
    position: absolute;
    margin-left: 30px;
    margin-top: 15px;
    color: #333333;
}
.arrow{
    position: absolute;
    width: 20px;
    height: 32px;
    margin-left: 75%;
    margin-top: 56px;
}
.pathTo{
    position: absolute;
    width: 100%;
    min-height: 100%;
}
.little-box{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: -30px;
}
.little-font{
    margin-left: 111px;
    font-size: 25px;
    color: #BEC2D3;
    margin-top: 5px;
}
.department-name{
    margin-left: 30px;
}
